*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    
    height: 800px;
    background-color: yellow;
}
h1{
    font-size: 65px;
    padding:25px 25px 25px 45px ;
}
.img{
    background-repeat: no-repeat;
    height: 850px;
    width: 950px;
    margin-left: 350px;
}